.top-box
{
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 210px;
	background-image: linear-gradient(to right, gold, blue);
}
.left-box
{
	position: absolute;
	z-index: 2;
	margin-top: 210px;
	width: 170px;
	height: 100%;
	background-image: linear-gradient(to right, gold, silver);
}
.center-box
{
	position: absolute;
	z-index: 2;
	margin-top: 210px;
	margin-left: 170px;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to right, silver, blue);
}
#title
{
	text-align: center;
	margin-top: 50px;
	font-size: 40px;
	font-family: Comic Sans MS;
}
.panier
{
	width: 50px;
	height: 50px;
	margin-top: 7px;
	margin-left: 90%;
}
#connexion
{
	margin-top: -30px;
	margin-left: 20%;
	font-size: 15px;
	font-family: Arial;
}
#deconnection
{
	position: absolute;
	z-index: 1;
	magin-top: 0px;
	margin-left: 50%;
	font-size: 15px;
	font-family: Arial;
}
#creat-account
{
	width: 20px;
	height: 100px;
	margin-top: -25px;
	margin-left: 2%;
	font-size: 15px;
	font-family: Arial;
}
.home-sig
{
	width: 50px;
	height: 50px;
	margin-top: 50px;
	margin-left: 50px;
}
.left
{
	margin-top: 20px;
	margin-left: 10px;
	width: 20px;
	height: 50px;
	text-align: center;
}
.build
{
	width: 400px;
	height: 400px;
}
.build-name
{
	text-align: center;
    font-size: 20px;
    font-family: Comic Sans MS;
}